.heroSection {
  background-color: #eee;
  height: calc(100vh - 55px);
  position: relative;
  .txtBx {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    span {
      display: block;
      text-align: center;
      font-size: 18px;
    }
    span.title{
        font-size: 2em;
    }
  }
}
