@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #000;
}
::selection{
  background-color: #111;
  color: #fff;
}
body a {
  text-decoration: none;
}
body li {
  list-style-type: none;
}
